<section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
    <div class="usa-footer__primary-link">Policies</div>
    <ul class="usa-list usa-list--unstyled">
        {% for item in items %}
        <li class="usa-footer__secondary-link">
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
